<h1>Edit Dragon: </h1>

<div>
<%= form_with model: @dragon do |form| %>
  Name: <%= form.text_field :name %><br><br>
  User: <%= collection_select(:dragon, :user, User.all, :id, :name)%><br><br>
  <%=form.submit%>
<% end %>
</div>
