<h3>Edit user:</h3>

<%= form_with model: User.new do |form| %>
  <p>First Name: <%= form.text_field :first_name %></p><br>
  <p>Last Name: <%= form.text_field :lasst_name %></p><br>
  <p><%= form.submit %></p>
<% end %>