<h1><%= @user.name %></h1>
<h3> Dragons: </h3>
<ul>
  <% @user.dragons.each do |dragon| %>
  <li><%= link_to dragon.name, dragon_path(dragon) %></li>
  <% end %><br>

  <%= button_to 'Edit this User?', edit_user_path, method: :get %><br>
  <%= button_to 'Destroy this User?', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
</ul>
