<%= link_to "All Users", users_path %><span><%= link_to "All Abilities", abilities_path %>

<h1>All Abilities</h1>
<ul>
  <% @abilities.each do |ability| %>
    <li><%= link_to ability.power, ability %></li>
  <% end %>
</ul>

<%= link_to "New Ability", new_ability_path %>
